
.info-Box{
    background-color: #19181a;
    color: snow;
    padding: 10px;
    border-radius: 12px;
    margin: 10px;
}

.info-img{
    
    width: 100%;
    border: 3px orange solid;
}
.Box{
    
    margin:auto;
    font-size: 18px;
    
}
.info-Box a{
    color: orange;
}
.info-Box a:hover{
    
    
    color: snow;
    
}
h3{
    color: orange;
}